<?xml version="1.0" encoding="utf-8"?>
<robot name="MOTOMAN_CSDA10F" brand="MOTOMAN" type="Robot">
  <torso name="torso" prefix="torso_"/>
  <csda10f_motoman_arm name="arm_left" prefix="arm_left_" parent="torso_link_b1" reflect="1">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </csda10f_motoman_arm>
  <csda10f_motoman_arm name="arm_right" prefix="arm_right_" parent="torso_link_b1" reflect="-1">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </csda10f_motoman_arm>
  <!-- link list -->
  <link name="base_link"/>
  <!-- joint list -->
  <joint name="base_link_torso" type="fixed">
    <parent link="base_link"/>
    <child link="torso_base_link"/>
    <origin xyz="0 0 1.2" rpy="0 0 0"/>
  </joint>
</robot>
